body {
  margin: 0 auto;
  max-width: 948px;
}

.card-container {
  align-items: start;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, 300px);
}

body {
  font-family: sans-serif;
}

header,
footer {
  text-align: center;
}
header {
  background-color: #091e31;
  color: #f2f2f2;
}

.card {
  background-color: #eee;
  border-radius: 10px;
  color: black;
  border: 1px solid #bbb;
}
.card h1 {
  font-size: 1em;
  padding: 0.5em;
  margin: 0;
  background-color: #374757;
  color: #eee;
}
.card p {
  font-size: 0.75em;
  padding-left: 10px;
}
img {
  width: 280px;
  height: auto;
  padding-left: 10px;
}
footer {
  font-size: 1em;
  background-color: #091e31;
  color: whitesmoke;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}
footer a {
  color: whitesmoke;
}
