@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  --dark: #393939;
  --red: #d12229;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
}

.company {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.company .front,
.company .back {
  background-color: var(--dark);
  width: 280px;
  height: 480px;
  margin: 20px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.company h1,
.company h2,
.company p {
  margin: 0;
  color: #eee;
}

.company .red {
  height: 35%;
  background-color: var(--red);
}

.company .head {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.company .head img {
  width: 40px;
}

.company .head > div {
  text-align: center;
  margin: 0 10px;
  text-transform: uppercase;
}

.company .head > div p {
  font-size: 0.8rem;
  font-weight: 600;
}

.company .img {
  background-color: #bfc2c7;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid var(--dark);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company .img img {
  width: 80%;
  padding: 10px 0;
}

.company .infos {
  position: absolute;
  bottom: 1px;
}

.company .infos > div {
  display: flex;
  margin: 5px;
}

.icon {
  width: 2em;
  height: 2em;
  margin-right: 10px;
  background-color: var(--red);
  padding: 8px;
  border-radius: 7px;
}
.company .infos > div p {
  font-size: 0.8rem;
  margin: 5px 0;
  font-weight: 500;
}

/* back*/
.company .back .top {
  width: 100%;
  box-sizing: border-box;
  height: 58%;
  background: url("../images/test_image.svg") center;
  filter: contrast(160%);
  position: relative;
}

.company .back .top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: linear-gradient(rgba(71, 11, 11, 0.8), rgba(240, 8, 8, 0.5));
}

.company .back .top {
  position: relative;
}

.company .back .top div img {
  width: 40px;
  margin: 10px;
}

.company .back .top div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40%;
  left: 19%;
  z-index: 11;
  filter: contrast(80%);
  text-transform: uppercase;
}

.webicon {
  background-color: var(--dark);

  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webicon div {
  padding: 5px 4px 2px 5px;
}
.phone,
.hours,
.location {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1em;
}
.phone img.icon,
.hours img.icon,
.location img.icon {
  position: absolute;
  left: 2.65em;
}
.hours > div > p {
  margin-left: 3em;
}
