* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Ubuntu, Arial, sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 5px;
  font-family: "Bree Serif", serif;
}

/* header styles */

h1 {
  font-size: 3rem;
  color: rgba(77, 77, 150, 1);
  text-align: center;
}

h2 {
  font-size: 2rem;
  letter-spacing: -1px;
  margin-bottom: 5px;
  color: rgba(77, 77, 150, 0.75);
  text-align: center;
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

header p {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(77, 77, 150, 0.6);
  text-align: center;
  margin-bottom: 20px;
}

main {
  background-color: #ddd;
  box-shadow: 0 0 30px rgba(119, 119, 119, 1);
}

footer {
  font-size: 0.85rem;
  border-top: 1px black solid;
}

/* section styles */

#list {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr;
}

section article {
  background-color: rgba(238, 238, 238, 1);
  flex: auto;
  border: 1px rgba(77, 77, 150, 0.5) solid;
  padding: 0.5rem;
}

/* Class Selectors */

.fixedw {
  font-family: "Courier New", Courier, monospace;
}

@media (min-width: 32.5em) {
  #list {
    flex-direction: row;
  }
}
