* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Ubuntu, Arial, sans-serif;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0.25em;
  font-family: "Arial", serif;
}

h1 {
  font-size: 2rem;
  color: #4d4d96;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Annie Use Your Telescope", cursive;
  background-color: #65498c;
  color: whitesmoke;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
}

main {
  max-width: 1080px;
  margin: 0 auto;
}

section {
  border: 1px solid #4d4d96;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #c2eeff3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section p {
  font-size: 0.8rem;
}

section img {
  width: 150px;
  height: auto;
  box-shadow: 0 0 15px #333;
  margin-top: 0.75em;
}

.cards {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 30px #777777;
  padding: 1rem;
  margin-top: 1em;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
footer {
  text-align: center;
  font-family: "Annie Use Your Telescope", cursive;
  background-color: #65498c;
  color: whitesmoke;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 1em;
  width: 100%;
}

/* medium viewports */
@media (min-width: 520px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* large viewports */
@media (min-width: 960px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
