* {
  box-sizing: border-box;
}
body {
  font-family: "Short Stack", Helvetica, cursive;
}
.announcement {
  display: none;
  background-color: #f21313;
  border: 2px solid#F21313;
  border-radius: 5px;
}

.close {
  cursor: pointer;
  position: absolute;
  margin-top: 12px;
  right: 0%;
  font-size: 2em;
  padding: 8px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
  border-radius: 5px;
}
.grid {
  max-width: 100%;
  margin: 0 auto;
  display: grid;

  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "article article"
    "contact contact"
    "footer footer";
}

.grid > * {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  grid-area: header;
  background-color: #27b9f2;
}
header > img {
  float: left;
  width: 6rem;
  padding: 0.75em;
}
nav {
  grid-area: nav;
  background-color: #f2bc1b;
}
.menu {
  list-style: none;
  padding: 0;
}
.menu li:first-child {
  display: block;
}
.menu li {
  display: none;
}
.menu a {
  display: block;
  color: #6c0404;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}
li a.active {
  text-decoration: underline;
}
.responsive li {
  display: block;
}
.hero img {
  max-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Annie Use Your Telescope", cursive;
}
main {
  grid-area: main;
  flex-flow: column;
}

h2 {
  background-color: #65498c;
  color: whitesmoke;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  border: 5px solid #65498c;
  border-radius: 10px;
  padding: 0.5rem;
}
section > * {
  width: -webkit-fill-available;
}
section p {
  font-size: 0.8rem;
}
section > img {
  width: 250px;
  height: 200px;
  box-shadow: 0 0 10px #333;
  margin-top: 0.75em;
}

.cards {
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border-radius: 5px;
  padding: 0.75rem;
}
button {
  background-color: #f2bc1b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  border: 0 none;
  border-radius: 5px;
}
.article {
  grid-area: article;
  flex-flow: column;
  display: block;
}
.article_image {
  display: flex;
  justify-content: center;
  align-content: center;
}
.article_image img {
  width: 95%;
}
.contact {
  grid-area: contact;
  background-color: #27b9f2;
  margin-top: 2em;
  padding: 1em;
  border-radius: 5px;
  flex-flow: column;
}
.contact > * {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
}
.phone {
  color: #7e0202;
  margin-right: 5px;
}
.contact h3 {
  font-size: 1.5em;
}
#name {
  font-size: 2em;
}
.contact img {
  width: 2.5em;
  padding-right: 1em;
}
.social_share {
  flex-flow: row;
  display: flex;
  justify-content: center;
  align-content: center;
}
.social_share img {
  width: 3em;
  padding: 0.5em;
}
.social_share img:hover {
  cursor: pointer;
}
footer {
  margin-top: 1em;
  grid-column: footer;
  background-color: #f2bc1b;
  min-height: 50px;
}
