* {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#nav,
#site-purpose,
.stuff,
#block,
#footer {
  background-color: #efefef;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}

.color {
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}
#color {
  margin-left: 70px;
}
#color65498C {
  background-color: #65498c;
  color: #fff;
}
#color27B9F2 {
  background-color: #27b9f2;
  color: #000000;
}
#color96D9C6 {
  background-color: #96d9c6;
  color: #000000;
}
#colorF2BC1B {
  background-color: #f2bc1b;
  color: #000000;
}
#colorF21313 {
  background-color: #f21313;
  color: #000000;
}
.example {
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
  background-color: #27b9f2;
}
.example-nav {
  padding: 2px 0px;
  background-color: #f2bc1b;
}
.example-body {
  background-image: url("../images/background_weather_test.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  font-weight: 900;
}
.example-footer {
  padding: 5px 0px;
  background-color: #f2bc1b;
}
a {
  color: black;
}

li {
  display: inline;
  padding: 5px;
}
.domain_img {
  width: 420px;
}
body {
  min-width: 960px;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 14px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/* GRID 12 is powered by https://960.gs/ I do not own this content. This content was recommended by HTML &CSS by Jon Duckett. I found this through my COMM 310 course from BYUI */

.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_3 {
  width: 220px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_6 {
  width: 460px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_9 {
  width: 700px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

.container_12 .grid_12 {
  width: 940px;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}
